
.container-cart{
  width: 75%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}

.container-product{
  width: 15%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}

.list-cart{
  border: solid 1px #ccc;
  min-height: 100px;
  background: white;
  border-radius: 10px;
  display: block;
  overflow: hidden;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.list-wlg{
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  cursor: move;
  background: white;
  color: black;
  font-size: 14px;
}

.list-item-cart {
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: move;
  background: white;
  color: black;
  font-size: 10px;
}

.list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  cursor: move;
  background: white;
  color: black;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

input.cartQty{
  width:50px;
  height:20px;
  border-radius:10px;
  outline: none;
}

.cart-image{ 
 width:30%;
}

.card-cart {
  padding: 5px;
  /* needed styles below */
  display: flex;
  justify-content: space-between;
}

.card-product{
  height:40%;
}

.card-product-action{
  display: flex;
}

.card-content-cart{
  height:40%;
  padding-top:1px;
  width:40%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card-content-cart-list{
  height:40%;
  width:40%;
  margin-top: 2%;
  margin-bottom: 0px;
  margin-right: 2px;
  
  display: flex;
}

.card-action-cart {
  margin-top: 2%;
  
  /* needed styles below */
  flex-flow: row;
}

.back-spacer {
  flex: 1 1 auto;
}