<div class="grid-container">
  <mat-grid-list *ngFor="let card of cards | async" [cols]="card.gridCols" rowHeight="360px">
    <span  *ngFor="let product of products; let i = index">
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card fxFlexFill class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{product.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <a>
            <img mat-card-image [src]="product.image">
          </a>
          <div *ngIf="product.cartQty!==undefined;else priceBlock">Price: {{product.price*product.cartQty}}</div>
          <ng-template #priceBlock>Price: {{product.price}}</ng-template>
        </mat-card-content>
        <mat-card-footer>
          <span>Qty:   </span>
            <button mat-icon-button (click)="addCart(product)">
              <mat-icon>{{addCartIcon}}</mat-icon>
            </button>
            <input class="cartQty" type="number" [(ngModel)]="product.cartQty" min="1" max="15" (keyup)="checkInputValue($event,product)" />
            <button mat-icon-button (click)="removeCart(product)">
              <mat-icon>{{removeCartIcon}}</mat-icon>
            </button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    </span>
  </mat-grid-list>
</div>
