<div class="grid-container">
  <mat-grid-list *ngFor="let card of cards | async" [cols]="card.gridCols" rowHeight="360px">
    <span  *ngFor="let product of products; let i = index">
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card fxFlexFill class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{product.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <a>
            <img mat-card-image [src]="product.image">
          </a>
          <div *ngIf="product.cartQty!=undefined ||product.cartQty=='' ;else priceBlock">Price: {{product.totalPrice}}</div>
          <ng-template #priceBlock>Price: {{product.price}}</ng-template>
        </mat-card-content>
        <mat-card-footer class="dashboard-card-footer" fxLayoutAlign="center">
          <div *ngIf="product.cartQty!=undefined ||product.cartQty=='' ;else cartBlock">
          <!-- <span>Qty:   </span> -->
            <button mat-icon-button (click)="addCart(product)">
              <mat-icon>{{addCartIcon}}</mat-icon>
            </button>
            <input class="cartQty" type="number" [(ngModel)]="product.cartQty" min="1" max="15"  (keydown)="checkInputValue($event,product)" />
            <button mat-icon-button (click)="removeCart(product)">
              <mat-icon>{{removeCartIcon}}</mat-icon>
            </button>
          </div>
          <ng-template #cartBlock>
            <button mat-raised-button
            [matBadge]="product.cartQty"
            matBadgePosition="before" 
            matBadgeColor="primary" (click)="addCart(product)" >
              <mat-icon>{{addCartIcon}}</mat-icon>Cart
            </button>
          </ng-template>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    </span>
  </mat-grid-list>
</div>
