<div class="grid-container">
  <mat-grid-list [cols]="gridCols" rowHeight="360px">
    <span  *ngFor="let product of products; let i = index">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card fxFlexFill class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{product.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <a>
            <img mat-card-image [src]="product.image">
          </a>
          <mat-card-subtitle>{{product.content}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
          <span>Qty:   </span>
            <button mat-icon-button (click)="addCart(i)">
              <mat-icon>{{addCartIcon}}</mat-icon>
            </button>
            <input class="cartQty" type="number" [(ngModel)]="product.cartQty" min="0" max="15" (keyup)="checkInputValue($event)" />
            <button mat-icon-button (click)="removeCart(i)">
              <mat-icon>{{removeCartIcon}}</mat-icon>
            </button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    </span>
  </mat-grid-list>
</div>
