.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  transition: none !important;
  box-shadow: none !important;
  background:transparent;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

input.cartQty{
  width:50px;
  height:20px;
  border-radius:10px;
  outline: none;
}
